<script>
    $('body').attr('id', 'page-top');
    $('body').attr('data-spy', 'scroll');
    $('body').attr('data-target', '.navbar-fixed-top');
    $(this).scrollspy('refresh');
</script>

<script>
    /*!
     * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
     * Code licensed under the Apache License v2.0.
     * For details, see http://www.apache.org/licenses/LICENSE-2.0.
     */

// jQuery to collapse the navbar on scroll
    $(window).scroll(function () {
        if ($(".navbar").offset().top > 50) {
            $(".navbar-fixed-top").addClass("top-nav-collapse");
        } else {
            $(".navbar-fixed-top").removeClass("top-nav-collapse");
        }
    });

// jQuery for page scrolling feature - requires jQuery Easing plugin
    $(function () {
        $('a.page-scroll').bind('click', function (event) {
            var $anchor = $(this);
            $('html, body').stop().animate({
                scrollTop: $($anchor.attr('href')).offset().top
            }, 800, 'easeInOutExpo');
            event.preventDefault();
        });
    });

// Closes the Responsive Menu on Menu Item Click
    $('.navbar-collapse ul li a').click(function () {
        $('.navbar-toggle:visible').click();
    });


    function init() {
    }

</script>


<!-- Plugin JavaScript -->
<script src="https://grid.reticu.li/ownmapp/js/jquery.easing.min.js"></script>