<div class="intro-body">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">ownMapp</h1>
                <p class="intro-text">Take control of your location data with apps and location services built on freedom, privacy, and security.</p>
                <p><a class="btn btn-default btn-lg" href="/map">Try it out!</a></p>
                <a href="#about" class="btn btn-circle page-scroll">
                    <i class="fa fa-angle-double-down animated"></i>
                </a>
            </div>
        </div>
    </div>
</div>