<section id="about" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>ownWhat? Why?</h2>
            <p>These days, strangers want to know our personal location at all times. When we snap a photo. 
                When we open our Facebook app. When we use Siri on our iPhone. When we search using Google. 
                Over time, this location data reveals much more about us than we'd like to share, even with our close
                friends and family, let alone random corporations and government agencies!</p>
            <p>ownMapp is your way to take control of your location data and provide yourself with powerful
                location services without sacrificing your privacy. You shouldn't have to live "off the grid" just because 
                you don't want to sell yourself to Facebook and Google. Make your own grid. Use an ownMapp server you trust, 
                or run one of your own for your friends and family!</p>
            <p>In other words, ownMapp is your <b>OWN M</b>ap <b>APP</b>lication.</p>
        </div>
    </div>
</section>