<!-- Location Services Section -->
<section id="location-services" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <h2>Location Services</h2>
                <p>Modern decentralized web technology enables so much more than 
                    simple location tracking and viewing interactive maps. An entire 
                    world of possibilities is ripe for exploration.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-1">
            <img alt="img" class="img-circle center-block drop-shadow" src="https://grid.reticu.li/cloud/ownmapp/webpage/tracking.png" style="width: 220px; height: 200px;">
            <h3>Tracking</h3>
            <p class="text-justify">Track your location and automatically save your location history</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-1">
            <img alt="img" class="img-circle center-block drop-shadow" src="https://grid.reticu.li/cloud/ownmapp/webpage/viewmarker.png" style="width: 220px; height: 200px;">
            <h3>Markers</h3>
            <p class="text-justify">Drop markers to save and share static locations</p>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-lg-offset-1">
            <img alt="img" class="img-circle center-block drop-shadow" src="https://grid.reticu.li/cloud/ownmapp/webpage/viewevents.png" style="width: 220px; height: 200px;">
            <h3>Events</h3>
            <p class="text-justify">Integration with calendar events</p>
        </div>
    </div>
</section>