<!-- Contact Section -->
<section id="developers" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Developers</h2>
            <p>There is a lot of work to do, and that work needs developers. Be a part of something amazing. There are many ways you can contribute.</p>
            <p><a href="mailto:developers@ownmapp.com">developers@ownmapp.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a href="https://grid.reticu.li/channel/ownmapp" class="btn btn-default btn-lg"><img src="https://grid.reticu.li/cloud/ownmapp/webpage/hubzilla_logo_white_bkgd.png" width="25"> <span class="network-name"> On the grid</span></a>
                </li>
                <li>
                    <a href="https://gitlab.com/zot/ownmapp/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Source Code</span></a>
                </li>
            </ul>
        </div>
    </div>
</section>