<section id="sharing" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <h2>Decentralized Sharing</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-lg-offset-1 col-md-offset-1">    
            <p>There are plenty of apps and services that allow you to share your location
                with others, but they all suffer a common problem: <i>centralization</i>. 
                ownMapp allows you to share location data over the <a href="https://hubzilla.org/"><i>decentralized</i> Hubzilla
                    network</a>. Not only do you own your <i>data</i>, you own your online <i>identity</i> itself!
            </p>
            <p>You can share your <b>personal</b> location as well as <b>static markers</b> with any of 
                your connections, either individually or in groups. Access control is enforced by asymmetric encryption,
                and your data resides on your hub, even when shared.
            </p>
        </div>
        <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1">
            <img src="https://grid.reticu.li/cloud/ownmapp/webpage/locationsharing.png" class="img-responsive">
        </div>
    </div>
</section>